    <header>
      <a href="/index.html"><img src="assets/img/logo.svg" alt="logo imperialState" /></a>
      
      <nav>
        <a href="/index.html">Inicio</a>
        <a class="activo" href="#">Reservar</a>
      </nav>
    </header>

    <!-- menu lateral  -->
    <div id="burger">
      <div class="barra superior"></div>
      <div class="barra media"></div>
      <div class="barra inferior"></div>
    </div>
    <div class="menu">
      <nav>
        <a href="/index.html">Inicio</a>
        <hr />
        <a href="/ventas.html">Ventas</a>
        <hr />
        <a href="#">Alquiler</a>
        <hr />
        <a href="#">Contacto</a>
      </nav>
      <p class="copyright">&copy; ACME Inc</p>
    </div>

    <div class="fila contacto">
      <div class="col-100 flex-column-center">
          <p>
              Déjanos tus datos de contacto y un asesor se comunicará contigo a la brevedad
          </p>
          <form class="contacto">
              <div class="fila">
                  <input class="usuario" type="text" placeholder="Nombre y apellidos">
              </div>
              <div class="fila">
                  <input class="email" type="email" placeholder="Correo electronico">
              </div>
              <div class="fila flex-end">
                  <button type="submit">Enviar</button>
              </div>
              <div class="fila">
                  <input type="checkbox" name=""   id="condiciones">
                  <label for="condiciones"> Acepto las condiciones legales.</label>
              </div>
          </form>
      </div>
  </div>
  <div class="fila">
    <span id="legal">&nbsp;</span>
    <div class="col-100">
      <h1>Aviso Legal</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed commodi, nostrum maxime reiciendis dicta unde eum tempore quae doloremque perspiciatis.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed commodi, nostrum maxime reiciendis dicta unde eum tempore quae doloremque perspiciatis.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed commodi, nostrum maxime reiciendis dicta unde eum tempore quae doloremque perspiciatis.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed commodi, nostrum maxime reiciendis dicta unde eum tempore quae doloremque perspiciatis.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed commodi, nostrum maxime reiciendis dicta unde eum tempore quae doloremque perspiciatis.</p>
    </div>
  </div>
  <div class="fila">
    <span id="cookies">&nbsp;</span>
    <div class="col-100">
      <h1>Politica de cookies</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed commodi, nostrum maxime reiciendis dicta unde eum tempore quae doloremque perspiciatis.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed commodi, nostrum maxime reiciendis dicta unde eum tempore quae doloremque perspiciatis.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed commodi, nostrum maxime reiciendis dicta unde eum tempore quae doloremque perspiciatis.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed commodi, nostrum maxime reiciendis dicta unde eum tempore quae doloremque perspiciatis.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed commodi, nostrum maxime reiciendis dicta unde eum tempore quae doloremque perspiciatis.</p>
    </div>
  </div>


    <footer class="fila">
      <div class="col-33">
        <p>Imperial Real State</p>
        <p class="flex-start">
          <img src="assets/img/map.svg" alt="Icono de mapa" />
          Paseo de la constitucion, 134
        </p>
        <p>37419 Leon, gto</p>
        <p class="flex-start">
          <img class="m-r-small" src="assets/img/phone.svg" alt="Icono de telefono" />
          +524795668425
        </p>
        <p class="flex-start">
          <img class="m-r-small" src="assets/img/mail.svg" alt="Icono del email" />
          ejemplo
        </p>
      </div>
      <div class="col-33">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3721.8406234035624!2d-101.67463602394368!3d21.118919284674146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842bbf07e6fd0dd3%3A0x4b283e8a5a970638!2sArco%20Triunfal%20de%20la%20Calzada%20de%20los%20H%C3%A9roes!5e0!3m2!1ses-419!2smx!4v1688104684833!5m2!1ses-419!2smx"
          width="100%"
          height="100%"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
      <div class="col-33">
        <div class="flex-around">
          <img class="redes" src="assets/img/facebook.svg" alt="icono de fb" />
          <img class="redes" src="assets/img/twitter.svg" alt="icono de twitter" />
          <img class="redes" src="assets/img/whatsapp.svg" alt="icono de wa" />
          <img class="redes" src="assets/img/instagram.svg" alt="icono de ig" />
        </div>
        <div class="flex-around m-t">
          <a href="#">Aviso legal</a>
          <a href="#">Politica de cookies</a>
        </div>
        <p class="copyright m-t">
          &copy; Imperial Real State All rights reserved
        </p>
      </div>
    </footer>