<div class="fila">
  <div class="col-100 flex-column-center">
    <p>Reserva tu visita</p>

    <form
      *ngIf="typeOfReservation === 'daily'"
      [formGroup]="contactForm"
      (ngSubmit)="onSubmit()"
      class="contacto"
    >
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Fecha</mat-label>
        <input
          class="datepicker"
          matInput
          [matDatepicker]="picker"
          [matDatepickerFilter]="filterDates"
          formControlName="reservationDay"
          required
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker touchUi="true"></mat-datepicker>
      </mat-form-field>
      <div class="col-100 flex-column-center" *ngIf="capacityRemaining != undefined">
        <p>Lugares disponibles</p>
        <p>{{ capacityRemaining }}</p>
      </div>
      <div class="fila">
        <input
          class="usuario"
          type="text"
          formControlName="name"
          placeholder="Nombre y apellidos"
        />
      </div>
      <div class="fila">
        <input
          class="email"
          type="email"
          formControlName="email"
          placeholder="Correo electronico"
        />
      </div>
      <div class="fila">
        <input
          class="official_id"
          type="text"
          formControlName="officialId"
          placeholder="Identificación oficial"
        />
      </div>
      <div class="fila flex-column-center">
        <re-captcha formControlName="recaptcha" siteKey="6LcYh3QrAAAAAPyke5CVEBAwk6FRsJ3lGXkD-aEW" (resolved)="onCaptchaResolved($event)"></re-captcha>
      </div>
      <div class="fila flex-column-center">
        <button type="submit">Enviar</button>
      </div>
    </form>
    <form
      [formGroup]="IntervalForm"
      (ngSubmit)="onSubmit()"
      class="contacto"
      *ngIf="typeOfReservation === 'interval'"
    >
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Fecha</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          [matDatepickerFilter]="filterDates"
          formControlName="reservationIntervalDay"
          required
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker touchUi="true"></mat-datepicker>
      </mat-form-field>
      <div
        class="col-100 flex-column-center"
        *ngIf="intervalCapacity?.length > 0"
      >
        <p>Citas disponibles</p>
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Seleccione un horario</mat-label>
          <mat-select formControlName="idReservation">
            <mat-option>None</mat-option>
            <mat-option
              *ngFor="let option of intervalCapacity"
              [value]="option.id"
              >{{ option.startTime }} - {{ option.endTime }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
      <div class="fila">
        <input
          class="usuario"
          type="text"
          formControlName="name"
          placeholder="Nombre y apellidos"
        />
      </div>
      <div class="fila">
        <input
          class="email"
          type="email"
          formControlName="email"
          placeholder="Correo electronico"
        />
      </div>
      <div class="fila flex-column-center">
        <re-captcha formControlName="recaptcha" siteKey="6LcYh3QrAAAAAPyke5CVEBAwk6FRsJ3lGXkD-aEW" (resolved)="onCaptchaResolved($event)"></re-captcha>
      </div>
      <div class="fila flex-column-center">
        <button type="submit">Enviar</button>
      </div>
    </form>
  </div>
</div>
